<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/home_styles.css">
		
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	</head>
	<body>
		<input type="hidden" th:value="${isAdmin}" id="isAdmin"></input>

		<div class="container">
			<div class="filter-bar">
				<label for="filter">Filter:</label>
				<input type="text" id="filter" placeholder="Search genre...">

				<!-- Shows the addFilm link only if user is an admin-->
				<a th:if="${isAdmin}" th:href="'addFilm?token=' + ${token} + '&username=' + ${username}">Add Film</a>
			</div>
			<table class="grid"><tr><th>Poster</td><th>Title</th><th>Release Year</th><th>Genre</th><th th:if="${isAdmin}">Remove</th></tr>
				<tbody id="table-content"></tbody>
			</table>
		</div>

		<script src="js/home.js"></script>
	</body>
</html>
